body {
    margin: 0;
    background: #f5f5f5;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
    box-sizing: border-box;
}

.header__wrapper {
    box-shadow: 0 2px 4px 0 rgba(173, 173, 173, 0.5);
    background-image: linear-gradient(to bottom, #fff);
}

.header__logo {
    width: 130px;
    height: 42px;
    font-family: 'Savoy', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: 0.8px;
    text-align: center;
    color: #000;
    display: inline-block;
    margin: 17px 0 23px 31px;
}

.header__menu img {
    width: 29px;
    height: 23px;
    background-color: #fff;
}

.header__users img {
    width: 38.4px;
    height: 28.8px;
}

.header__notification img {
    width: 28px;
    height: 32px;
    margin: 0 15px;
}

.header__user-avatar img {
    width: 40px;
    height: 40px;
}

.header__user-controls {
    float: right;
    padding-top: 17px;
}

.main {
    display: block;
}

.main .social__network img {
    width: 23px;
    height: 22px;
}

.network {
    display: block;
}

.network-avatar img {
    width: 120px;
    height: 120px;
    position: absolute;
    margin: -85px 0 0 100px;
}

.network__header img {
    width: 328px;
    height: 112px;
}

h2 {
    text-align: center;
    padding: 50px 0 12px 0;
}

.social__network {
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 0 0 10px 0;
}

.social__network img {
    padding: 0 15px 0 0;
}

.social__img {
    text-decoration: none;
}

.page__view {
    margin: 0 auto;
    text-align: left;
    width: 130px;
    font-size: 14px;
    font-family: 'robotomedium';
}

strong {
    padding: 0 6px 0 0;
}

.write__post {
    border: 20px solid #d8d8d8;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    background: #d8d8d8;
}

.write__post-link {
    padding: 5px;
    background: #fff;
    display: block;
    border-radius: 24px;
}

.write__post-link:hover {
    text-decoration: none;
}

.write__post-link::before {
    content: '';
    width: 23px;
    height: 23px;
    background-image: url(../img/writing.svg);
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 10px;

}

.user__profile {
    display: flex;
    margin: 24px 0 0;
}

.wrapper {
    display: flex;
    padding: 24px 0 0;
}

.network__bg {
    background-color: #fff;
}

.content {
    width: 100%;
    padding: 0 0 0 29px;
}

.author__name {
    text-decoration: none;
    font-family: 'robotobold';
    font-size: 16px;
    line-height: 18px;
    color: #989898;
    padding: 0 0 0 16px;
    /* position: absolute; */
}

.author__name img {
    width: 32px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.text {
    line-height: 24px;
    font-size: 27px;
    color: #000;
    padding: 0 16px;
    /* font-family: 'noto_serifrbold'; */
    margin: 0;
}

.popular,
.new,
.active {
    margin-top: 24px;
    background-color: #fff;
    padding: 1px 30px;
    display: block;
    max-width: 327px;
}

.header__popular,
.header__new,
.header__active {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.33px;
    font-family: 'robotobold';
}

.popular__img img,
.new__img img,
.active__img img {
    width: 42px;
    height: 42px;
}

.popular__img,
.new__img,
.active__img {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.stream {
    max-width: 597px;
    font-family: 'robotobold';
    width: 100%;
}

.post-alements--wrapper {
    margin-top: 20px;
}

.post-social-links {
    text-decoration: none;
    display: flex;
    float: right;
    margin: 0px 20px;
}

.post-social-links img {
    width: 22px;
    height: 22px;
    margin: 0px 0px 0px 10px;
}

.stream__foot p {
    text-align: center;
    text-decoration: underline;
}

.post-media {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 12px;
}

.section {
    padding-left: 20px;
}

.stream__post {
    margin-bottom: 24px;
    background-color: #fff;
    padding: 20px 0;
}

.trending {
    max-width: 328px;
    background-color: #fff;
    margin-left: 20px;
    width: 100%;
}

.news {
    padding: 17px 22px;
}

.trending__list {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.33px;
    font-family: 'robotobold';
    margin-bottom: 23px;
}

.header__list img {
    width: 68px;
    height: 68px;
}

.avatar__one {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    font-family: 'noto_serifregular';
}

.header__nav-item {
    margin: 0;
}

.header__nav-item a {
    font-family: 'noto_serifrbold';
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #262626;
}

.header__author {
    font-family: 'noto_serifregular';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #989898;
    display: block;
    padding-top: 2px;
}

.header__author a {
    text-decoration: underline;
}

.header__list {
    display: flex;
    margin-bottom: 16px;
}

.header__img {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header__wrapper {
        height: auto;
    }

    .wrapper {
        display: block;
        padding: 0;
    }

    .content {
        display: block;
        padding: 0;
    }

    .stream {
        display: block;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .user__profile {
        display: block;
    }

    .network__header img {
        width: 100%;
    }

    .header__user-controls {
        padding-top: 12px;
    }

    .header__logo {
        width: auto;
        display: inline-block;
        margin: 10px 0px 0;
        font-size: 30px;
        vertical-align: middle;
    }

    .header__menu img {
        margin: -10px auto;
    }

    .network__bg {
        display: inline-block;
    }

    .header__notification img {
        width: 28px;
        height: 32px;
        margin: 0 5px;
    }

    .header__user-avatar img,
    .header__users img,
    .header__notification img {
        width: 30px;
        height: 30px;
    }


    .write__post {
        border: 10px solid #d8d8d8;
        margin: 15px auto;
    }

    .stream__post {
        margin-bottom: 15px;
        padding: 5px 0;
    }

    .trending {
        margin-left: 0;
    }
}