@font-face {
    font-family: 'Savoy';
    src: url('savoy_bold.woff2') format('woff2'),
         url('savoy_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('Roboto-Bold.woff') format('woff'),
         url('Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'noto_serifregular';
    src: url('notoserif-regular.woff2') format('woff2'),
         url('notoserif-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'noto_serifrbold';
    src: url('NotoSerif-Bold.woff') format('woff'),
         url('NotoSerif-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}